.logo_img {
    width: 90px;
    height: 64px;
    margin-right: -30px;
    margin-left: 0px;
}

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

section div {
    margin-bottom: 20px;
}

section div button {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
}

section div button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
